#include "Windows.h"

307 DIALOG 0, 0, 445, 363
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Trigger Editor"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Trigger options", -14635, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 4, 433, 80 
   CONTROL "Action options", -14602, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 214, 433, 144 
   CONTROL "Event options", -14615, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 92, 433, 114 
   CONTROL "Select trigger:", -14634, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 17, 48, 10 
   CONTROL "", -14633, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 17, 234, 201 
   CONTROL "New", -14632, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 16, 40, 14 
   CONTROL "Clone", -14631, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 351, 16, 40, 14 
   CONTROL "Delete", -14630, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 16, 40, 14 
   CONTROL "Place On Map", -14629, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 32, 61, 14 
   CONTROL "Type:", -14628, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 167, 49, 40, 9 
   CONTROL "", -14627, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 213, 49, 90, 63 
   CONTROL "Name", -14626, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 33, 36, 10 
   CONTROL "", -14625, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 33, 234, 12 
   CONTROL "House:", -14624, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 49, 38, 10 
   CONTROL "", -14623, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 49, 90, 105 
   CONTROL "Attached trigger:", -14622, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 65, 58, 8 
   CONTROL "", -14620, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 65, 234, 127 
   CONTROL "Disabled", -14619, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 49, 40, 13 
   CONTROL "Easy", -14618, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 65, 35, 13 
   CONTROL "Medium", -14617, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 351, 65, 35, 13 
   CONTROL "Hard", -14616, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 65, 35, 13 
   CONTROL "Event type:", -14614, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 105, 57, 12 
   CONTROL "", -14613, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 105, 234, 184 
   CONTROL "New", -14612, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 104, 40, 14 
   CONTROL "Clone", -14611, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 351, 104, 40, 14 
   CONTROL "Delete", -14610, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 104, 40, 14 
   CONTROL "", -14609, EDIT, ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 283, 126, 149, 74 
   CONTROL "Event List:", -14608, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 121, 74, 10 
   CONTROL "", -14607, LISTBOX, LBS_NOTIFY | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 13, 132, 110, 67 
   CONTROL "Parameter#1 value:", -14606, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 121, 118, 10 
   CONTROL "", -14605, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 133, 150, 123 
   CONTROL "Parameter#2 value:", -14604, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 148, 118, 10 
   CONTROL "", -14603, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 160, 150, 123 
   CONTROL "Action type:", -14601, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 227, 57, 12 
   CONTROL "", -14600, EDIT, ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 283, 249, 149, 102 
   CONTROL "New", -14599, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 226, 40, 14 
   CONTROL "Delete", -14598, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 226, 40, 14 
   CONTROL "Clone", -14597, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 351, 226, 40, 14 
   CONTROL "", -14596, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 227, 234, 184 
   CONTROL "Action List:", -14595, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 245, 53, 10 
   CONTROL "", -14594, LISTBOX, LBS_NOTIFY | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 13, 256, 110, 95 
   CONTROL "Parameter#1 value:", -14593, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 245, 118, 10 
   CONTROL "", -14592, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 257, 150, 123 
   CONTROL "Parameter#2 value:", -14591, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 272, 118, 10 
   CONTROL "", -14590, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 284, 150, 123 
   CONTROL "Parameter#3 value:", -14589, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 299, 118, 10 
   CONTROL "", -14588, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 311, 150, 123 
   CONTROL "Parameter#4 value:", -14587, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 326, 118, 10 
   CONTROL "", -14586, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 338, 150, 123 
   CONTROL "Parameter#5 value:", -14585, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 353, 118, 10 
   CONTROL "", -14584, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 365, 150, 123 
   CONTROL "Parameter#6 value:", -14583, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 380, 118, 10 
   CONTROL "", -14582, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 392, 150, 123 
   CONTROL "Search Reference", 1999, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 373, 32, 61, 14 
   CONTROL "New editor", 2000, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 48, 61, 14 
   CONTROL "", 2001, STATIC, SS_LEFT | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 18, 6, 6 
   CONTROL "Compact Mode", 2002, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 49, 69, 13 
   CONTROL "", 2003, STATIC, SS_CENTER | SS_NOTIFY | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 245, 10, 10 
   CONTROL "", 2004, STATIC, SS_CENTER | SS_NOTIFY | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 112, 245, 10, 10 
   CONTROL "Split", 2005, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 243, 27, 12 
}

332 DIALOG 0, 0, 202, 281
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Trigger Editor"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "", -14633, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 20, 7, 107, 200 
   CONTROL "N", -14632, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 7, 20, 14 
   CONTROL "C", -14631, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 153, 7, 20, 14 
   CONTROL "D", -14630, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 174, 7, 20, 14 
   CONTROL "P", -14629, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 23, 30, 14 
   CONTROL "", -14627, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 39, 55, 63 
   CONTROL "", -14625, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 23, 120, 12 
   CONTROL "", -14623, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 39, 55, 103 
   CONTROL "", -14620, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 55, 120, 127 
   CONTROL "D", -14619, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 174, 39, 22, 13 
   CONTROL "E", -14618, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 55, 22, 13 
   CONTROL "M", -14617, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 153, 55, 22, 13 
   CONTROL "H", -14616, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 174, 55, 22, 13 
   CONTROL "", -14613, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 75, 120, 184 
   CONTROL "N", -14612, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 75, 20, 14 
   CONTROL "C", -14611, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 153, 75, 20, 14 
   CONTROL "D", -14610, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 174, 75, 20, 14 
   CONTROL "", -14607, LISTBOX, LBS_NOTIFY | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 7, 91, 58, 52 
   CONTROL "Parameter#1 value:", -14606, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 68, 92, 118, 10 
   CONTROL "", -14605, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 68, 104, 126, 123 
   CONTROL "Parameter#2 value:", -14604, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 68, 119, 118, 10 
   CONTROL "", -14603, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 68, 131, 126, 123 
   CONTROL "N", -14599, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 150, 20, 14 
   CONTROL "C", -14597, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 153, 150, 20, 14 
   CONTROL "D", -14598, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 174, 150, 20, 14 
   CONTROL "", -14596, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 150, 120, 184 
   CONTROL "", -14594, LISTBOX, LBS_NOTIFY | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 7, 166, 58, 107 
   CONTROL "Parameter#1 value:", -14593, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 68, 167, 118, 10 
   CONTROL "", -14592, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 68, 179, 126, 123 
   CONTROL "Parameter#2 value:", -14591, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 68, 194, 118, 10 
   CONTROL "", -14590, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 68, 206, 126, 123 
   CONTROL "Parameter#3 value:", -14589, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 68, 221, 118, 10 
   CONTROL "", -14588, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 68, 233, 126, 123 
   CONTROL "Parameter#4 value:", -14587, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 68, 248, 118, 10 
   CONTROL "", -14586, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 68, 260, 126, 123 
   CONTROL "Parameter#5 value:", -14585, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 68, 275, 118, 10 
   CONTROL "", -14584, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 68, 287, 126, 123 
   CONTROL "Parameter#6 value:", -14583, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 68, 302, 118, 10 
   CONTROL "", -14582, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 68, 314, 126, 123 
   CONTROL "SR", 1999, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 164, 23, 30, 14 
   CONTROL "NE", 2000, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 39, 20, 14 
   CONTROL "", 2001, STATIC, SS_LEFT | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 8, 6, 6 
   CONTROL "Compact", 2002, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 39, 40, 13 
}

