#include "Windows.h"

307 DIALOG 0, 0, 445, 363
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Trigger Editor"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Trigger options", -14635, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 4, 433, 80 
   CONTROL "Select trigger:", -14634, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 17, 54, 10 
   CONTROL "", -14633, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 17, 234, 201 
   CONTROL "New", -14632, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 16, 40, 14 
   CONTROL "Clone", -14631, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 351, 16, 40, 14 
   CONTROL "Delete", -14630, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 16, 40, 14 
   CONTROL "Place On Map", -14629, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 33, 61, 14 
   CONTROL "Type:", -14628, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 167, 49, 40, 9 
   CONTROL "", -14627, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 213, 49, 90, 63 
   CONTROL "Name", -14626, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 33, 36, 10 
   CONTROL "", -14625, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 33, 234, 12 
   CONTROL "House:", -14624, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 49, 38, 10 
   CONTROL "", -14623, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 49, 90, 105 
   CONTROL "Attached trigger:", -14622, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 65, 58, 8 
   CONTROL "", -14620, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 65, 234, 127 
   CONTROL "Disabled", -14619, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 49, 40, 13 
   CONTROL "Easy", -14618, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 65, 35, 13 
   CONTROL "Medium", -14617, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 351, 65, 35, 13 
   CONTROL "Hard", -14616, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 65, 35, 13 
   CONTROL "Event options", -14615, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 92, 433, 114 
   CONTROL "Event type:", -14614, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 105, 57, 12 
   CONTROL "", -14613, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 105, 234, 184 
   CONTROL "New", -14612, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 104, 40, 14 
   CONTROL "Clone", -14611, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 351, 104, 40, 14 
   CONTROL "Delete", -14610, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 104, 40, 14 
   CONTROL "", -14609, EDIT, ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 283, 126, 149, 74 
   CONTROL "Event List:", -14608, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 121, 74, 10 
   CONTROL "", -14607, LISTBOX, LBS_NOTIFY | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 13, 132, 110, 67 
   CONTROL "Parameter#1 value:", -14606, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 121, 118, 10 
   CONTROL "", -14605, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 133, 150, 123 
   CONTROL "Parameter#2 value:", -14604, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 148, 118, 10 
   CONTROL "", -14603, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 160, 150, 123 
   CONTROL "Action type:", -14601, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 227, 57, 12 
   CONTROL "", -14600, EDIT, ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 283, 249, 149, 102 
   CONTROL "New", -14599, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 308, 226, 40, 14 
   CONTROL "Delete", -14598, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 394, 226, 40, 14 
   CONTROL "Clone", -14597, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 351, 226, 40, 14 
   CONTROL "", -14596, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 69, 227, 234, 184 
   CONTROL "Action List:", -14595, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 245, 74, 10 
   CONTROL "", -14594, LISTBOX, LBS_NOTIFY | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 13, 256, 110, 95 
   CONTROL "Parameter#1 value:", -14593, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 245, 118, 10 
   CONTROL "", -14592, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 257, 150, 123 
   CONTROL "Parameter#2 value:", -14591, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 272, 118, 10 
   CONTROL "", -14590, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 284, 150, 123 
   CONTROL "Parameter#3 value:", -14589, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 299, 118, 10 
   CONTROL "", -14588, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 311, 150, 123 
   CONTROL "Parameter#4 value:", -14587, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 326, 118, 10 
   CONTROL "", -14586, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 338, 150, 123 
   CONTROL "Parameter#5 value:", -14585, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 353, 118, 10 
   CONTROL "", -14584, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 365, 150, 123 
   CONTROL "Parameter#6 value:", -14583, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 380, 118, 10 
   CONTROL "", -14582, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 127, 392, 150, 123 
   CONTROL "Search Reference", 1999, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 373, 33, 61, 14 
   CONTROL "Action options", -14602, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 214, 433, 144 
}
