#include "Windows.h"

336 DIALOG 0, 0, 328, 216
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Techno Options"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 268, 193, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 208, 193, 50, 14 
   CONTROL "House:", 1000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 6, 33, 11 
   CONTROL "", 1001, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 63, 6, 111, 123 
   CONTROL "Strength:", 1002, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 22, 29, 10 
   CONTROL "Slider1", 1003, "msctls_trackbar32", TBS_TOOLTIPS | TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 63, 20, 111, 11 
   CONTROL "Direction:", 1004, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 37, 40, 10 
   CONTROL "", 1005, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 63, 36, 111, 101 
   CONTROL "State:", 1006, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 51, 40, 10 
   CONTROL "", 1007, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 63, 51, 111, 82 
   CONTROL "Veteran Level:", 1008, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 69, 37, 17 
   CONTROL "", 1009, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 69, 111, 12 
   CONTROL "Group:", 1010, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 87, 30, 16 
   CONTROL "", 1011, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 87, 111, 12 
   CONTROL "Above Ground:", 1012, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 103, 30, 16 
   CONTROL "", 1013, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 103, 111, 12 
   CONTROL "Follows Index:", 1014, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 121, 30, 16 
   CONTROL "", 1015, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 121, 111, 12 
   CONTROL "AutoNO RecruitType:", 1016, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 137, 34, 17 
   CONTROL "", 1017, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 137, 111, 12 
   CONTROL "AutoYES RecruitType:", 1018, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 153, 35, 16 
   CONTROL "", 1019, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 63, 153, 111, 12 
   CONTROL "Tag:", 1020, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 20, 175, 39, 13 
   CONTROL "", 1021, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 64, 173, 255, 130 
   CONTROL "Sellable:", 1022, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 8, 35, 10 
   CONTROL "", 1023, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 241, 8, 77, 12 
   CONTROL "Rebuild:", 1024, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 23, 40, 14 
   CONTROL "", 1025, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 241, 22, 77, 37 
   CONTROL "Powered:", 1026, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 38, 38, 18 
   CONTROL "", 1027, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 241, 38, 77, 37 
   CONTROL "Upgrade count:", 1028, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 55, 30, 17 
   CONTROL "", 1029, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 241, 53, 77, 47 
   CONTROL "Spotlight:", 1030, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 73, 39, 15 
   CONTROL "", 1031, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 241, 72, 77, 72 
   CONTROL "Upgrade 1:", 1032, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 88, 40, 14 
   CONTROL "", 1033, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 241, 87, 77, 12 
   CONTROL "Upgrade 2:", 1034, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 103, 40, 16 
   CONTROL "", 1035, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 241, 102, 77, 12 
   CONTROL "Upgrade 3:", 1036, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 118, 38, 15 
   CONTROL "", 1037, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 241, 117, 77, 12 
   CONTROL "AI repairs:", 1038, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 133, 35, 10 
   CONTROL "", 1039, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 241, 132, 77, 35 
   CONTROL "Nominal:", 1040, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 197, 148, 40, 20 
   CONTROL "", 1041, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 241, 148, 77, 35 
   CONTROL "", 1300, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 4, 10, 14 
   CONTROL "", 1301, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 19, 10, 14 
   CONTROL "", 1302, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 35, 10, 14 
   CONTROL "", 1303, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 49, 11, 14 
   CONTROL "", 1304, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 66, 11, 14 
   CONTROL "", 1305, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 85, 11, 14 
   CONTROL "", 1306, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 101, 11, 14 
   CONTROL "", 1307, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 119, 11, 14 
   CONTROL "", 1308, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 136, 11, 14 
   CONTROL "", 1309, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 152, 11, 14 
   CONTROL "", 1310, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 173, 10, 14 
   CONTROL "", 1311, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 5, 10, 14 
   CONTROL "", 1312, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 21, 10, 14 
   CONTROL "", 1313, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 35, 10, 14 
   CONTROL "", 1314, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 53, 10, 14 
   CONTROL "", 1315, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 71, 10, 14 
   CONTROL "", 1316, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 85, 10, 14 
   CONTROL "", 1317, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 101, 10, 14 
   CONTROL "", 1318, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 116, 10, 14 
   CONTROL "", 1319, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 130, 10, 14 
   CONTROL "", 1320, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 145, 10, 14 
}

