#include <Windows.h>

129 ACCELERATORS
BEGIN
    "A",            40104,                  VIRTKEY, CONTROL, NOINVERT
    "C",            57634,                  VIRTKEY, CONTROL, NOINVERT
    "F",            40115,                  VIRTKEY, CONTROL, NOINVERT
    "L",            40105,                  VIRTKEY, CONTROL, NOINVERT
    "V",            57637,                  VIRTKEY, CONTROL, NOINVERT
    "Y",            57644,                  VIRTKEY, CONTROL, NOINVERT
    "Z",            57643,                  VIRTKEY, CONTROL, NOINVERT
    "N",            57600,                  VIRTKEY, CONTROL, NOINVERT
    "O",            40001,                  VIRTKEY, CONTROL, NOINVERT
    "S",            57603,                  VIRTKEY, CONTROL, NOINVERT
    "S",            40002,                  VIRTKEY, SHIFT, CONTROL, NOINVERT
    VK_F12,         40025,                  VIRTKEY, NOINVERT
    "M",            40040,                  VIRTKEY, CONTROL, NOINVERT
    "B",            40036,                  VIRTKEY, CONTROL, NOINVERT
    "P",            40038,                  VIRTKEY, CONTROL, NOINVERT
    "U",            40043,                  VIRTKEY, CONTROL, NOINVERT
    "H",            40039,                  VIRTKEY, CONTROL, NOINVERT
    "R",            40151,                  VIRTKEY, CONTROL, NOINVERT
    "G",            40042,                  VIRTKEY, CONTROL, NOINVERT
    "T",            40139,                  VIRTKEY, CONTROL, NOINVERT
    "C",            40150,                  VIRTKEY, SHIFT, CONTROL, NOINVERT
    "C",            40155,                  VIRTKEY, ALT, CONTROL, NOINVERT
    "S",            40158,                  VIRTKEY, ALT, CONTROL, NOINVERT
    "E",            40138,                  VIRTKEY, CONTROL, NOINVERT
    "J",            40156,                  VIRTKEY, CONTROL, NOINVERT
    "K",            40048,                  VIRTKEY, CONTROL, NOINVERT
    "Q",            40160,                  VIRTKEY, CONTROL, NOINVERT
    "M",            40037,                  VIRTKEY, SHIFT, CONTROL, NOINVERT
    "I",            40154,                  VIRTKEY, CONTROL, NOINVERT
    VK_F5,          40053,                  VIRTKEY, NOINVERT
    VK_F6,          40054,                  VIRTKEY, NOINVERT
    VK_F7,          40064,                  VIRTKEY, NOINVERT
    VK_F8,          40065,                  VIRTKEY, NOINVERT
    VK_F9,          40066,                  VIRTKEY, NOINVERT
    VK_F10,         40072,                  VIRTKEY, NOINVERT
    VK_F11,         40071,                  VIRTKEY, NOINVERT
    VK_F3,          40092,                  VIRTKEY, NOINVERT
    VK_F4,          40093,                  VIRTKEY, NOINVERT
    "W",            40133,                  VIRTKEY, CONTROL, NOINVERT
    VK_F2,          40024,                  VIRTKEY, NOINVERT
    "F",            40134,                  VIRTKEY, SHIFT, CONTROL, NOINVERT
    "T",            40137,                  VIRTKEY, SHIFT, CONTROL, NOINVERT
    "0",            30051,                  VIRTKEY, CONTROL, NOINVERT
    VK_ADD,         30053,                  VIRTKEY, CONTROL, NOINVERT
    VK_SUBTRACT,    30052,                  VIRTKEY, CONTROL, NOINVERT
    VK_OEM_PLUS,    30053,                  VIRTKEY, CONTROL, NOINVERT
    VK_OEM_MINUS,   30052,                  VIRTKEY, CONTROL, NOINVERT
    "5",            30008,                  VIRTKEY, CONTROL, NOINVERT
    "6",            30009,                  VIRTKEY, CONTROL, NOINVERT
    "7",            30010,                  VIRTKEY, CONTROL, NOINVERT
    "1",            30000,                  VIRTKEY, CONTROL, NOINVERT
    "2",            30001,                  VIRTKEY, CONTROL, NOINVERT
    "3",            30002,                  VIRTKEY, CONTROL, NOINVERT
    "4",            30003,                  VIRTKEY, CONTROL, NOINVERT
    "8",            30004,                  VIRTKEY, CONTROL, NOINVERT
    "0",            30005,                  VIRTKEY, ALT, NOINVERT
    "1",            30006,                  VIRTKEY, ALT, NOINVERT
    "2",            30011,                  VIRTKEY, ALT, NOINVERT
    "3",            30007,                  VIRTKEY, ALT, NOINVERT
    "4",            30012,                  VIRTKEY, ALT, NOINVERT 
    "5",            30021,                  VIRTKEY, ALT, NOINVERT
	"6",            30014,                  VIRTKEY, ALT, NOINVERT
	"7",            30022,                  VIRTKEY, ALT, NOINVERT
	"8",            30023,                  VIRTKEY, ALT, NOINVERT
    "9",            30013,                  VIRTKEY, CONTROL, NOINVERT
	//"Q",            40131,                  VIRTKEY, SHIFT, CONTROL, NOINVERT
	//"W",            40132,                  VIRTKEY, SHIFT, CONTROL, NOINVERT
	VK_DELETE,      40136,                  VIRTKEY, NOINVERT
	"O",            40018,                  VIRTKEY, SHIFT, CONTROL, NOINVERT
END

101 RT_MANIFEST "FA2sp.manifest"
1001 BITMAP "Resources/annotation.bmp"
1002 BITMAP "Resources/default_cameo.bmp"
1003 BITMAP "Resources/waypoint.bmp"
1004 BITMAP "Resources/celltag.bmp"
1005 BITMAP "Resources/tunnel.bmp"
1006 BITMAP "Resources/brush.bmp"
1007 BITMAP "Resources/annotationcameo.bmp"
1008 BITMAP "Resources/search.bmp"
1009 BITMAP "Resources/multiselect.bmp"
1010 BITMAP "Resources/node.bmp"
1011 BITMAP "Resources/delete.bmp"
1012 BITMAP "Resources/connected.bmp"
1013 BITMAP "Resources/tile.bmp"
1014 BITMAP "Resources/house.bmp"
1015 BITMAP "Resources/infantry.bmp"
1016 BITMAP "Resources/aircraft.bmp"
1017 BITMAP "Resources/unit.bmp"
1018 BITMAP "Resources/building.bmp"
1019 BITMAP "Resources/terrain.bmp"
1020 BITMAP "Resources/smudge.bmp"
1021 BITMAP "Resources/overlay.bmp"
1022 BITMAP "Resources/player.bmp"
128 BITMAP "Resources/toolbar.bmp"

