# Ignore these files:
*.aps
*.user
VC5
MFC42
Debug
Release
.vs
*.rc_bak
*.swp_bak
*.swp
*.7z
/FA2sp/Release_Chinese/FA2sp/Miscs
*.obj
/FA2sp/Release_Chinese
/Release_Chinese
/packages/openssl-vc142.1.1.0

# Don't ignore these files:
!Debug/vxl_drawing_lib.lib
!Release/vxl_drawing_lib.lib
!Release/libssl.lib
!Release/libcrypto.lib
!Release/CncVxlRenderText.lib
!Debug/libssl.lib
!Debug/libcrypto.lib
!Debug/CncVxlRenderText.lib

