*.aps
*.user
VC5
MFC42
.vs
*.rc_bak
*.swp_bak
*.swp
*.7z
*.obj
/Debug/*
/Release/*
/Release_Chinese/*

/FA2sp/Debug/*
/FA2sp/Release/*
/FA2sp/Release_Chinese/*

!Release/libssl.lib
!Release/lua.lib
!Release/libcrypto.lib
!Release/CncVxlRenderText.lib
!Debug/libssl.lib
!Debug/lua.lib
!Debug/libcrypto.lib
!Debug/CncVxlRenderText.lib
!Debug/libcrypto-1_1.dll
!Debug/lua.dll
!Debug/libssl-1_1.dll
!Debug/CncVxlRenderText.dll
!Release/libcrypto-1_1.dll
!Release/lua.dll
!Release/libssl-1_1.dll
!Release/CncVxlRenderText.dll
!Release_Chinese/libcrypto-1_1.dll
!Release_Chinese/lua.dll
!Release_Chinese/libssl-1_1.dll
!Release_Chinese/CncVxlRenderText.dll