# Ignore these files:
*.aps
*.user
VC5
MFC42
Debug
Release
.vs

# Don't ignore these files:
!Debug/vxl_drawing_lib.lib
!Release/vxl_drawing_lib.lib
*.rc_bak
*.swp_bak
*.swp
*.7z
/FA2sp/Release_Chinese/FA2sp/Miscs
*.obj
/FA2sp/Release_Chinese
/Release_Chinese
