#include <Windows.h>

345 DIALOG 0, 0, 420, 320
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "Tahoma"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_TABSTOP, 310, 300, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP, 365, 300, 50, 14 
}
