#include "Windows.h"

339 DIALOG 0, 0, 120, 323
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Distance Toolbox"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "Tahoma"
{
   CONTROL "Distance Ruler", 900, BUTTON, BS_GROUPBOX | WS_CHILD | WS_TABSTOP, 5, 5, 110, 88 
   CONTROL "Two-Point Distance", 1001, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 20, 100, 14 
   CONTROL "Live Distance", 1002, BUTTON, BS_AUTOCHECKBOX | BS_CENTER | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 56, 100, 14 
   CONTROL "Clear Distance Points", 1003, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 74, 100, 14 
   CONTROL "Line Segment (no text)", 1004, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 38, 100, 14 
   CONTROL "Axial Symmetry Tool", 901, BUTTON, BS_GROUPBOX | WS_CHILD | WS_TABSTOP, 5, 98, 110, 70 
   CONTROL "Set Symmetry Axis", 1101, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 113, 100, 14 
   CONTROL "Place Symmetric Point", 1102, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 131, 100, 14 
   CONTROL "Clear Symmetric Points", 1103, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 149, 100, 14 
   CONTROL "Central Symmetry Tool", 902, BUTTON, BS_GROUPBOX | WS_CHILD | WS_TABSTOP, 5, 173, 110, 72 
   CONTROL "Set Symmetry Center", 1201, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 188, 100, 14 
   CONTROL "Place Symmetric Point", 1202, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 206, 100, 14 
   CONTROL "Clear Symmetric Points", 1203, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 224, 100, 14 
   CONTROL "Circle Tool", 903, BUTTON, BS_GROUPBOX | WS_CHILD | WS_TABSTOP, 5, 248, 110, 70 
   CONTROL "Radius:", 1300, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 263, 35, 12 
   CONTROL "", 1301, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER, 45, 261, 64, 14 
   CONTROL "Place Circle Center", 1302, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 281, 100, 14 
   CONTROL "Clear Circles", 1303, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 299, 100, 14 
}
