#include <Windows.h>

205 DIALOG 0, 0, 303, 294
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Local AI Triggers"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "AI Triggers when enabled, allows the AI to create its associated team(s) which in turn performs its scripted actions.", -14621, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 6, 286, 20 
   CONTROL "AI Trigger:", -14636, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 28, 43, 11 
   CONTROL "", 1199, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 28, 215, 299 
   CONTROL "Enabled", 1218, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 44, 53, 11 
   CONTROL "Add", 1154, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 44, 46, 13 
   CONTROL "Clone", 1919, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 43, 46, 13 
   CONTROL "Delete", 1066, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 43, 46, 13 
   CONTROL "Name:", -14635, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 61, 43, 11 
   CONTROL "", 1010, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 60, 215, 13 
   CONTROL "Side:", -14625, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 78, 33, 12 
   CONTROL "", 1456, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 77, 90, 57 
   CONTROL "Country:", -14633, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 176, 78, 38, 14 
   CONTROL "", 1205, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 215, 77, 72, 194 
   CONTROL "Condition", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 92, 289, 64 
   CONTROL "Type:", -14630, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 102, 57, 12 
   CONTROL "", 1163, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 101, 215, 94 
   CONTROL "Comparator\n(CONDITION):", -14623, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 115, 55, 18 
   CONTROL "", 1449, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 118, 95, 78 
   CONTROL "Amount (N):", -14622, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 170, 119, 43, 11 
   CONTROL "", 1450, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 215, 118, 72, 13 
   CONTROL "Comparison object (X):", -14624, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 134, 46, 17 
   CONTROL "", 1149, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 136, 215, 101 
   CONTROL "Team(s)", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 158, 289, 46 
   CONTROL "Primary:", -14634, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 169, 48, 17 
   CONTROL "", 1204, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 168, 215, 71 
   CONTROL "Secondary:\n(optional)", -14632, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 184, 58, 17 
   CONTROL "", 1206, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 186, 215, 71 
   CONTROL "Weights (higher values relative to other AI triggers gives more chance)", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 208, 288, 32 
   CONTROL "Initial:", -14629, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 222, 45, 11 
   CONTROL "", 1213, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 46, 221, 56, 13 
   CONTROL "Min.:", -14628, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 110, 222, 45, 11 
   CONTROL "", 1215, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 137, 221, 56, 13 
   CONTROL "Max.:", -14627, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 201, 222, 45, 11 
   CONTROL "", 1216, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 230, 221, 56, 13 
   CONTROL "Available in difficulties", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 242, 288, 24 
   CONTROL "Easy", 1424, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 251, 42, 13 
   CONTROL "Medium", 1425, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 251, 42, 13 
   CONTROL "Hard", 1426, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 230, 251, 42, 13 
   CONTROL "", 0, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 265, 288, 20 
   CONTROL "Base Defense", 1452, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 270, 78, 13 
   CONTROL "Available in Multiplayer/Skirmish", 1453, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 270, 132, 14 
   CONTROL "Tech Level:", -1, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 14, 284, 0, 0 
   CONTROL "", 1162, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VSCROLL | WS_TABSTOP, 239, 285, 0, 0 
   CONTROL "Min. Diff:", -14626, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 204, 284, 0, 0 
   CONTROL "", 1211, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VSCROLL | WS_TABSTOP, 51, 285, 0, 0 
   CONTROL "Data:", 1210, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 91, 284, 0, 0 
   CONTROL "", 1165, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_BORDER | WS_TABSTOP, 139, 284, 0, 0 
}
