#include <Windows.h>

#ifdef CHINESE
261 DIALOG 0, 0, 222, 129
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "创建新地图 - 步骤3"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "下一步", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 109, 50, 14 
   CONTROL "取消", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 109, 50, 14 
   CONTROL "浏览", 1221, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 59, 60, 12 
   CONTROL "导入树木", 1222, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 77, 91, 12 
   CONTROL "导入覆盖图", 1223, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 91, 103, 13 
   CONTROL "导入单位/建筑", 1224, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 75, 94, 19 
   CONTROL "", 1228, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 59, 131, 60 
   CONTROL "请选择想要导入的地图或位图。如果导入位图，将按照位图大小1:1生成地图。如果位图的宽+高>511，将会被缩放。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 208, 29 
   CONTROL "地图类型(导入位图):", 2000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 43, 80, 12 
   CONTROL "", 2001, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 93, 43, 121, 60 
}

#else
261 DIALOG 0, 0, 222, 129
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Create new map - Step 3"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Next", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 109, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 109, 50, 14 
   CONTROL "Browse", 1221, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 59, 60, 12 
   CONTROL "Import Trees", 1222, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 77, 91, 12 
   CONTROL "Import Overlay", 1223, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 91, 103, 13 
   CONTROL "Import Units/Buildings", 1224, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 75, 94, 19 
   CONTROL "", 1228, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 59, 131, 60 
   CONTROL "Please select the map or bitmap you want to import. If importing a bitmap, the map will be generated in a 1:1 bitmap size. If the width+height of the bitmap is greater than 511, it will be scaled.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 208, 34 
   CONTROL "Theater(for bitmaps):", 2000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 43, 80, 12 
   CONTROL "", 2001, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 93, 43, 121, 60 
}
#endif