#include "Windows.h"

321 DIALOG 0, 0, 250, 234
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "Please select"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma"
{
   CONTROL "OK", 1, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 204, 212, 40, 14 
   CONTROL "", 1002, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 240, 16 
   CONTROL "", 1000,  LISTBOX, LBS_NOTIFY | LBS_MULTIPLESEL | LBS_EXTENDEDSEL  | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 5, 27, 240, 180 
}
