#include "Windows.h"

312 DIALOG 0, 0, 303, 288
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Local AI Triggers"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "AI Triggers when enabled, allows the AI to create its associated team(s) which in turn performs its scripted actions.", 1000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 6, 286, 20 
   CONTROL "AI Trigger:", 1001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 28, 43, 11 
   CONTROL "", 1002, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 28, 215, 299 
   CONTROL "Enabled", 1003, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 44, 53, 11 
   CONTROL "Add", 1004, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 129, 44, 46, 13 
   CONTROL "Clone", 1005, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 185, 43, 46, 13 
   CONTROL "Delete", 1006, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 241, 43, 46, 13 
   CONTROL "Name:", 1007, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 61, 43, 11 
   CONTROL "", 1008, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 60, 215, 13 
   CONTROL "Side:", 1009, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 78, 33, 12 
   CONTROL "", 1010, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 77, 90, 109 
   CONTROL "Country:", 1011, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 170, 78, 38, 14 
   CONTROL "", 1012, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 215, 77, 72, 110 
   CONTROL "Condition", 1013, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 92, 289, 64 
   CONTROL "Type:", 1014, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 102, 57, 12 
   CONTROL "", 1015, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 101, 215, 129 
   CONTROL "Comparator\n(CONDITION):", 1016, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 119, 55, 18 
   CONTROL "", 1017, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 118, 90, 77 
   CONTROL "Amount (N):", 1018, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 170, 119, 43, 11 
   CONTROL "", 1019, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 215, 118, 72, 13 
   CONTROL "Comparison object (X):", 1020, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 137, 46, 17 
   CONTROL "", 1021, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 136, 215, 120 
   CONTROL "Team(s)", 1022, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 158, 289, 48 
   CONTROL "Primary:", 1023, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 169, 48, 17 
   CONTROL "", 1024, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 168, 215, 167 
   CONTROL "Secondary:\n(optional)", 1025, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 187, 58, 17 
   CONTROL "", 1026, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 72, 186, 215, 167 
   CONTROL "Weights", 1027, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 210, 142, 71 
   CONTROL "Initial:", 1028, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 224, 57, 11 
   CONTROL "", 1029, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 223, 68, 13 
   CONTROL "Min.:", 1030, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 242, 56, 11 
   CONTROL "", 1031, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 241, 68, 13 
   CONTROL "Max.:", 1032, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 260, 57, 11 
   CONTROL "", 1033, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 259, 68, 13 
   CONTROL "Available in difficulties", 1034, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 154, 210, 142, 71 
   CONTROL "Easy", 1035, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 164, 222, 42, 13 
   CONTROL "Medium", 1036, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 164, 240, 42, 13 
   CONTROL "Hard", 1037, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 164, 258, 42, 13 
   CONTROL "Base Defense (invalid)", 1038, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 218, 222, 68, 24 
   CONTROL "Available in Skirmish (invalid)", 1039, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 218, 247, 67, 24 
}
