#include "Windows.h"

314 DIALOG 0, 0, 316, 293
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | WS_POPUP
CAPTION "Terrain Generator"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Add", 1001, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 74, 45, 13 
   CONTROL "Name:", 1002, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 180, 56, 26, 12 
   CONTROL "", 1003, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 54, 100, 13 
   CONTROL "Preset:", 1004, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 56, 26, 12 
   CONTROL "", 1005, COMBOBOX, CBS_DROPDOWN | CBS_SORT | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 35, 54, 136, 90 
   CONTROL "Delete", 1006, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 108, 74, 45, 13 
   CONTROL "Set Range", 1007, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 158, 74, 45, 13 
   CONTROL "Apply", 1008, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 258, 74, 45, 13 
   CONTROL "Description", 1011, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 7, 297, 42 
   CONTROL "Clear", 1009, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 208, 74, 45, 13 
   CONTROL "Override", 1010, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 159, 91, 48, 13 
   CONTROL "Scale:", 1012, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 233, 93, 26, 12 
   CONTROL "", 1013, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 260, 91, 40, 13 
   CONTROL "Copy", 1014, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 58, 74, 45, 13 
   CONTROL "Tab4", 1000, "SysTabControl32", TCS_TABS | TCS_HOTTRACK | TCS_TOOLTIPS | WS_CHILD | WS_VISIBLE, 8, 95, 300, 190 , WS_EX_TRANSPARENT
}

315 DIALOG 0, 0, 300, 184
STYLE DS_SETFONT | WS_CHILD
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Tile Set 1:", 2000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 77, 12
   CONTROL "", 2001, COMBOBOX, CBS_DROPDOWN | CBS_SORT | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 4, 17, 124, 90
   CONTROL "Tile Indexes (leave blank for all):", 2002, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 4, 112, 12
   CONTROL "", 2003, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 17, 110, 13
   CONTROL "Chance:", 2004, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 4, 40, 12
   CONTROL "", 2005, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 17, 40, 13
   CONTROL "Tile Set 2:", 2006, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 39, 77, 12
   CONTROL "", 2007, COMBOBOX, CBS_DROPDOWN | CBS_SORT | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 4, 52, 124, 90
   CONTROL "Tile Indexes (leave blank for all):", 2008, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 39, 112, 12
   CONTROL "", 2009, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 52, 110, 13
   CONTROL "Chance:", 2010, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 39, 40, 12
   CONTROL "", 2011, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 52, 40, 13
   CONTROL "Tile Set 3:", 2012, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 74, 77, 12
   CONTROL "", 2013, COMBOBOX, CBS_DROPDOWN | CBS_SORT | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 4, 87, 124, 90
   CONTROL "Tile Indexes (leave blank for all):", 2014, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 74, 112, 12
   CONTROL "", 2015, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 87, 110, 13
   CONTROL "Chance:", 2016, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 74, 40, 12
   CONTROL "", 2017, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 87, 40, 13
   CONTROL "Tile Set 4:", 2018, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 109, 77, 12
   CONTROL "", 2019, COMBOBOX, CBS_DROPDOWN | CBS_SORT | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 4, 122, 124, 90
   CONTROL "Tile Indexes (leave blank for all):", 2020, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 109, 112, 12
   CONTROL "", 2021, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 122, 110, 13
   CONTROL "Chance:", 2022, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 109, 40, 12
   CONTROL "", 2023, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 122, 40, 13
   CONTROL "Tile Set 5:", 2024, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 144, 77, 12
   CONTROL "", 2025, COMBOBOX, CBS_DROPDOWN | CBS_SORT | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 4, 157, 124, 90
   CONTROL "Tile Indexes (leave blank for all):", 2026, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 144, 112, 12
   CONTROL "", 2027, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 157, 110, 13
   CONTROL "Chance:", 2028, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 144, 40, 12
   CONTROL "", 2029, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 157, 40, 13
}

316 DIALOG 0, 0, 300, 184
STYLE DS_SETFONT | WS_CHILD
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Terrain Group 1:", 3000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 77, 12
   CONTROL "", 3001, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 17, 239, 13
   CONTROL "Chance:", 3002, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 4, 40, 12
   CONTROL "", 3003, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 17, 40, 13
   CONTROL "Terrain Group 2:", 3004, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 39, 77, 12
   CONTROL "", 3005, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 52, 239, 13
   CONTROL "Chance:", 3006, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 39, 40, 12
   CONTROL "", 3007, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 52, 40, 13
   CONTROL "Terrain Group 3:", 3008, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 74, 77, 12
   CONTROL "", 3009, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 87, 239, 13
   CONTROL "Chance:", 3010, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 74, 40, 12
   CONTROL "", 3011, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 87, 40, 13
   CONTROL "Terrain Group 4:", 3012, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 109, 77, 12
   CONTROL "", 3013, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 122, 239, 13
   CONTROL "Chance:", 3014, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 109, 40, 12
   CONTROL "", 3015, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 122, 40, 13
   CONTROL "Terrain Group 5:", 3016, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 144, 77, 12
   CONTROL "", 3017, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 157, 239, 13
   CONTROL "Chance:", 3018, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 144, 40, 12
   CONTROL "", 3019, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 157, 40, 13
}

317 DIALOG 0, 0, 300, 184
STYLE DS_SETFONT | WS_CHILD
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Overlay Group 1:", 4000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 77, 12
   CONTROL "", 4001, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 17, 124, 13
   CONTROL "Overlay Data (leave blank for all):", 4002, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 4, 114, 12
   CONTROL "", 4003, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 17, 110, 13
   CONTROL "Chance:", 4004, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 4, 40, 12
   CONTROL "", 4005, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 17, 40, 13
   CONTROL "Overlay Group 2:", 4006, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 39, 77, 12
   CONTROL "", 4007, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 52, 124, 13
   CONTROL "Overlay Data (leave blank for all):", 4008, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 39, 114, 12
   CONTROL "", 4009, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 52, 110, 13
   CONTROL "Chance:", 4010, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 39, 40, 12
   CONTROL "", 4011, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 52, 40, 13
   CONTROL "Overlay Group 3:", 4012, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 74, 77, 12
   CONTROL "", 4013, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 87, 124, 13
   CONTROL "Overlay Data (leave blank for all):", 4014, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 74, 114, 12
   CONTROL "", 4015, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 87, 110, 13
   CONTROL "Chance:", 4016, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 74, 40, 12
   CONTROL "", 4017, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 87, 40, 13
   CONTROL "Overlay Group 4:", 4018, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 109, 77, 12
   CONTROL "", 4019, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 122, 124, 13
   CONTROL "Overlay Data (leave blank for all):", 4020, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 109, 114, 12
   CONTROL "", 4021, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 122, 110, 13
   CONTROL "Chance:", 4022, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 109, 40, 12
   CONTROL "", 4023, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 122, 40, 13
   CONTROL "Overlay Group 5:", 4024, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 144, 77, 12
   CONTROL "", 4025, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 157, 124, 13
   CONTROL "Overlay Data (leave blank for all):", 4026, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 133, 144, 114, 12
   CONTROL "", 4027, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 133, 157, 110, 13
   CONTROL "Chance:", 4028, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 144, 40, 12
   CONTROL "", 4029, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 157, 40, 13
}

318 DIALOG 0, 0, 300, 184
STYLE DS_SETFONT | WS_CHILD
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Smudge Group 1:", 5000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 77, 12
   CONTROL "", 5001, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 17, 239, 13
   CONTROL "Chance:", 5002, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 4, 40, 12
   CONTROL "", 5003, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 17, 40, 13
   CONTROL "Smudge Group 2:", 5004, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 39, 77, 12
   CONTROL "", 5005, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 52, 239, 13
   CONTROL "Chance:", 5006, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 39, 40, 12
   CONTROL "", 5007, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 52, 40, 13
   CONTROL "Smudge Group 3:", 5008, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 74, 77, 12
   CONTROL "", 5009, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 87, 239, 13
   CONTROL "Chance:", 5010, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 74, 40, 12
   CONTROL "", 5011, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 87, 40, 13
   CONTROL "Smudge Group 4:", 5012, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 109, 77, 12
   CONTROL "", 5013, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 122, 239, 13
   CONTROL "Chance:", 5014, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 109, 40, 12
   CONTROL "", 5015, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 122, 40, 13
   CONTROL "Smudge Group 5:", 5016, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 144, 77, 12
   CONTROL "", 5017, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 157, 239, 13
   CONTROL "Chance:", 5018, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 144, 40, 12
   CONTROL "", 5019, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 157, 40, 13
}


