#include "Windows.h"

337 DIALOG 0, 0, 200, 67
STYLE DS_SETFONT | WS_CHILD
CAPTION ""
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Group:", 1368, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 40, 10 
   CONTROL "", 1366, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 50, 6, 140, 165 
   CONTROL "Search:", 1369, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 29, 40, 10 
   CONTROL "", 1367, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 28, 140, 12 
   CONTROL "Current:", 1370, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 51, 40, 10 
   CONTROL "", 1371, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 50, 51, 240, 10 
}


338 DIALOG 0, 0, 573, 28
STYLE DS_SETFONT | WS_CHILD
CAPTION ""
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Group:", 1368, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 40, 10 
   CONTROL "", 1366, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 50, 6, 140, 165 
   CONTROL "Search:", 1369, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 199, 8, 40, 10 
   CONTROL "", 1367, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 242, 7, 140, 12 
   CONTROL "Current:", 1370, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 391, 8, 40, 10 
   CONTROL "", 1371, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 434, 8, 240, 10 
}

