#include "Windows.h"

342 DIALOG 0, 0, 269, 131
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Special Flags"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Some settings only work under certain circumstances.", 1285, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 7, 5, 252, 16 
   CONTROL "Tiberium grows", 1314, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 22, 120, 10 
   CONTROL "Tiberium spreads", 1315, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 37, 120, 10 
   CONTROL "Tiberium explosive", 1316, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 97, 120, 10 
   CONTROL "Destroyable bridges", 1317, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 82, 120, 10 
   CONTROL "MCV deploy", 1318, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 52, 120, 10 
   CONTROL "Initial veteran (initial troops have veteran status)", 1319, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 97, 120, 27 
   CONTROL "Fixed alliance", 1320, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 22, 120, 10 
   CONTROL "Harvester immune", 1321, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 67, 120, 10 
   CONTROL "Fog of war", 1322, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 37, 120, 10 
   CONTROL "Inert", 1323, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 52, 120, 10 
   CONTROL "Ion storms", 1324, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 67, 120, 10 
   CONTROL "Meteorites", 1325, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 82, 120, 10 
   CONTROL "Visceroids", 1326, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 112, 120, 10 
}

343 DIALOG 0, 0, 287, 245
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Basic Settings"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Note: some of the settings are probably just ignored", 1233, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 5, 7, 280, 10 
   CONTROL "Name:", 1234, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 24, 65, 12 
   CONTROL "", 1010, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 24, 64, 12 
   CONTROL "Home Cell:", 1250, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 40, 65, 12 
   CONTROL "", 1026, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 40, 64, 12 
   CONTROL "Alt. Home Cell:", 1251, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 56, 65, 12 
   CONTROL "", 1027, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 56, 64, 12 
   CONTROL "Next Scenario:", 1235, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 72, 65, 12 
   CONTROL "", 1014, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 72, 64, 12 
   CONTROL "Alt. Next Scenario:", 1236, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 88, 65, 12 
   CONTROL "", 1015, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 88, 64, 12 
   CONTROL "New INI Format:", 1237, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 104, 65, 12 
   CONTROL "", 1011, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 104, 64, 12 
   CONTROL "CarryOverCap:", 1238, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 136, 65, 22 
   CONTROL "", 1012, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 136, 64, 12 
   CONTROL "Multiplayer Only:", 1248, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 120, 65, 12 
   CONTROL "", 1024, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 120, 64, 12 
   CONTROL "Show Briefing (Phobos B39+)", 1256, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 200, 135, 12 
   CONTROL "Briefing Theme (Phobos B39+):", 2000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 216, 65, 22 
   CONTROL "", 2001, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 78, 216, 64, 50 
   CONTROL "End Of Game", 1239, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 24, 129, 12 
   CONTROL "Skip Score", 1240, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 40, 129, 12 
   CONTROL "One Time Only", 1241, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 56, 129, 12 
   CONTROL "Skip Map Select", 1242, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 72, 129, 12 
   CONTROL "Official", 1243, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 88, 129, 12 
   CONTROL "Ignore Global AI Triggers", 1244, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 104, 129, 12 
   CONTROL "Truck Crate", 1245, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 120, 129, 12 
   CONTROL "Train Crate", 1246, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 136, 129, 12 
   CONTROL "Tiberium Growth Enabled:", 1249, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 152, 129, 12 
   CONTROL "Free Radar", 1253, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 168, 129, 12 
   CONTROL "Repair Base Nodes (Phobos B45+)", 1254, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 184, 129, 12 
   CONTROL "MCV Redeploys (Phobos B34+)", 1255, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 200, 129, 12 
   CONTROL "Theme:", 1257, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 160, 65, 13 
   CONTROL "", 1258, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 79, 160, 64, 50 
   CONTROL "Loading Theme (Ares 0.7+):", 1259, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 176, 65, 22 
   CONTROL "", 1260, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 79, 176, 64, 50 
}

344 DIALOG 0, 0, 548, 231
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Singleplayer Map Settings"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Movies && other singleplayer stuff.", 1285, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 7, 7, 530, 16 
   CONTROL "Movies", 1341, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 94, 141, 128 
   CONTROL "Intro:", 1342, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 105, 59, 18 
   CONTROL "", 1327, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 105, 68, 160 
   CONTROL "Brief:", 1343, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 121, 59, 18 
   CONTROL "", 1328, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 121, 68, 202 
   CONTROL "Win:", 1344, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 137, 59, 18 
   CONTROL "", 1329, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 137, 68, 184 
   CONTROL "Lose:", 1345, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 154, 59, 15 
   CONTROL "", 1330, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 153, 68, 203 
   CONTROL "Action:", 1346, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 169, 59, 18 
   CONTROL "", 1170, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 169, 68, 157 
   CONTROL "PostScore:", 1347, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 185, 59, 18 
   CONTROL "", 1332, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 185, 68, 194 
   CONTROL "PreMapSelect:", 1348, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 201, 59, 17 
   CONTROL "", 1333, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 201, 68, 223 
   CONTROL "Carry over money (percent):", 1338, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 25, 67, 16 
   CONTROL "", 1334, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 75, 26, 67, 14 
   CONTROL "Inherit timer:", 1339, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 46, 135, 16 
   CONTROL "Fill silos:", 1340, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 64, 135, 16 
   CONTROL "Ranking", 1363, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 151, 25, 190, 161 
   CONTROL "ParTimeEasy:", 1349, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 45, 60, 11 
   CONTROL "ParTimeMedium:", 1350, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 65, 60, 11 
   CONTROL "ParTimeHard:", 1351, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 85, 60, 11 
   CONTROL "OverParTitle:", 1352, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 105, 60, 11 
   CONTROL "OverParMessage:", 1353, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 125, 60, 11 
   CONTROL "UnderParTitle:", 1354, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 145, 60, 11 
   CONTROL "UnderParMessage:", 1355, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 165, 60, 11 
   CONTROL "", 1356, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 45, 113, 14 
   CONTROL "", 1357, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 65, 113, 14 
   CONTROL "", 1358, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 85, 113, 14 
   CONTROL "", 1359, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 105, 113, 14 
   CONTROL "", 1360, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 125, 113, 14 
   CONTROL "", 1361, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 145, 113, 14 
   CONTROL "", 1362, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 165, 113, 14 
   CONTROL "General", 1364, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 348, 25, 190, 142 
   CONTROL "CampaignMoneyDeltaEasy:", 1365, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 353, 45, 90, 11 
   CONTROL "", 1366, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 449, 45, 83, 14 
   CONTROL "CampaignMoneyDeltaHard:", 1367, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 353, 65, 90, 11 
   CONTROL "", 1368, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 449, 65, 83, 14 
   CONTROL "SpyMoneyStealPercent:", 1369, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 353, 85, 90, 11 
   CONTROL "", 1370, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 449, 85, 83, 14 
   CONTROL "TeamDelays:", 1371, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 353, 105, 90, 11 
   CONTROL "", 1372, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 449, 105, 83, 14 
   CONTROL "PrismSupportModifier:", 1373, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 353, 125, 90, 11 
   CONTROL "", 1374, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 449, 125, 83, 14 
   CONTROL "DefaultMirageDisguises:", 1375, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 353, 145, 90, 11 
   CONTROL "", 1376, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 449, 145, 62, 14 
   CONTROL "...", 1377, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 515, 145, 17, 14 
}
