#include <Windows.h>

1919810 DIALOG 0, 0, 214, 70
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "Tahoma"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,160,5,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,160,25,50,14
END
