#include "Windows.h"

302 DIALOG 0, 0, 302, 149
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Search"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Tahoma"
{
	CONTROL "Range", 6200, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 6, 69, 95
	CONTROL "TreeView", 6201, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP , 13, 19, 49, 10
	CONTROL "Map", 6202, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 33, 43, 10
	CONTROL "TileSets", 6203, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 46, 49, 10
	CONTROL "ListBox", 6204, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | LBS_NOTIFY, 13, 59, 49, 10
	CONTROL "Waypoints", 6205, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE , 13, 72, 49, 10
	CONTROL "MapCoords", 6206, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 85, 49, 10
	CONTROL "Exact match", 6208, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 106, 56, 10
	CONTROL "PropertyBush Filter", 6212, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 119, 56, 10
	CONTROL "", 6209, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 10, 164, 14
	CONTROL "Search", 6210, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 247, 10, 47, 14
	CONTROL "", 6211, LISTBOX, LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 78, 28, 215, 120
	CONTROL "Select ListBox", 6213, BUTTON, BS_GROUPBOX | WS_CHILD  | WS_TABSTOP, 76, 6, 69, 108
	CONTROL "Triggers", 6214, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD  | WS_GROUP, 85, 20, 49, 10 
	CONTROL "AttachedTriggers", 6215, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD , 85, 33, 49, 10 
	CONTROL "TeamTypes", 6218, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD , 85, 46, 49, 10 
	CONTROL "TaskForces", 6219, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD , 85, 59, 49, 10 
	CONTROL "Scripts", 6220, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD , 85, 72, 49, 10 
	CONTROL "Tags", 6221, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD , 85, 85, 49, 10 
	CONTROL "AI Triggers", 6222, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD , 85, 98, 49, 10 
	//CONTROL "Event/Action", 6216, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD , 85, 46, 49, 10 
	//CONTROL "TriggerParam", 6217, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD , 85, 59, 49, 10 
	//CONTROL "TeamTypes", 6218, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD , 85, 72, 49, 10 
	//CONTROL "TaskForces", 6219, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD , 85, 85, 49, 10 
	//CONTROL "Scripts", 6220, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD , 85, 98, 49, 10 
	//CONTROL "Tags", 6221, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD , 85, 111, 49, 10 
}

