#include "Windows.h"

341 DIALOG 0, 0, 350, 225
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Houses"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "DESC [quite long]", 1285, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 7, 5, 333, 39 
   CONTROL "", 1091, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 77, 63, 263, 121 
   CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 95, 339, 125 
   CONTROL "", 1256, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 77, 47, 263, 68 
   CONTROL "House:", 1258, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 63, 64, 22 
   CONTROL "Add house", 1092, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 79, 80, 15 
   CONTROL "Standard houses", 1093, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 79, 80, 15 
   CONTROL "Delete house", 1094, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 79, 80, 15 
   CONTROL "IQ:", 1287, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 105, 40, 10 
   CONTROL "", 1095, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 105, 100, 70 
   CONTROL "Edge:", 1288, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 120, 40, 10 
   CONTROL "", 1096, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 120, 100, 65 
   CONTROL "Side", 1289, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 188, 40, 10 
   CONTROL "", 1097, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 188, 285, 148 
   CONTROL "Color", 1290, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 135, 40, 10 
   CONTROL "", 1098, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 135, 100, 148 
   CONTROL "Allies:", 1291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 203, 40, 10 
   CONTROL "", 1099, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 55, 203, 224, 12 
   CONTROL "Credits (x100):", 1292, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 150, 40, 17 
   CONTROL "", 1100, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 55, 150, 100, 12 
   CONTROL "Nodecount:", 1294, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 170, 105, 68, 15 
   CONTROL "", 1102, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240, 105, 100, 12 
   CONTROL "Techlevel:", 1295, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 170, 120, 63, 10 
   CONTROL "", 1103, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 240, 120, 100, 125 
   CONTROL "Build activity (%):", 1296, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 170, 135, 66, 17 
   CONTROL "", 1104, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 240, 135, 100, 46 
   CONTROL "Human Player:", 1255, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 46, 65, 16 
   CONTROL "Player Control", 1297, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 170, 150, 70, 14 
   CONTROL "Repair BaseNodes (Phobos B32+):", 1298, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 171, 125, 14 
   CONTROL "Easy", 1299, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 140, 169, 40, 14 
   CONTROL "Medium", 1300, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 190, 169, 40, 14 
   CONTROL "Hard", 1301, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 169, 40, 14 
   CONTROL "Allies Editor", 1145, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 284, 203, 57, 12 
}

303 DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Allies Editor"
FONT 8, "Tahoma", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,7,155,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,252,155,50,14
    LTEXT           "non-Allies",6305,7,7,35,13,SS_SUNKEN
    LTEXT           "Allies", 6306,281,7,21,11,SS_SUNKEN
    LISTBOX         6302,177,19,125,129,LBS_EXTENDEDSEL | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP | LBS_NOTIFY
    LISTBOX         6303,7,19,125,129,LBS_HASSTRINGS | LBS_EXTENDEDSEL | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP | LBS_NOTIFY
    PUSHBUTTON      "->",6300,137,57,36,14
    PUSHBUTTON      "<-",6301,137,78,36,14
    EDITTEXT        6304,69,155,167,14,ES_AUTOHSCROLL | ES_READONLY | NOT WS_TABSTOP,WS_EX_STATICEDGE
END