#include "Windows.h"

306 DIALOG 0, 0, 390, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Scripts"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Scripttypes let you, for example, define that a team moves from one point to another. A scripttype is attached to a TeamType (not a TaskForce!)", -14836, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 280, 16 
   CONTROL "Scripttype", -14835, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 26, 37, 12 
   CONTROL "", 1193, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 59, 24, 180, 196 
   CONTROL "Add", 1154, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 249, 24, 40, 14 
   CONTROL "Clone", 6300, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 295, 24, 40, 14 
   CONTROL "Delete", 1066, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 341, 24, 40, 14 
   CONTROL "Name:", -14834, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 43, 65, 12 
   CONTROL "", 1010, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 59, 40, 180, 13 
   CONTROL "Actions:", -14833, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 59, 65, 11 
   CONTROL "", 1170, LISTBOX, LBS_NOTIFY | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 59, 59, 180, 122 
   CONTROL "Type of action:", -14832, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 189, 65, 12 
   CONTROL "Parameter:", 1198, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 208, 48, 11 
   CONTROL "", 1064, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 59, 188, 180, 192 
   CONTROL "", 1196, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 59, 206, 180, 111 
   CONTROL "Delete", 1174, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 112, 45, 14 
   CONTROL "Add", 1173, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 73, 45, 14 
   CONTROL "Clone", 6301, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 93, 45, 14 
   CONTROL "Description:", -14831, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 249, 43, 62, 13 
   CONTROL "", 1407, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 249, 59, 132, 176 
   CONTROL "Insert", 6302, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 169, 50, 14 
   CONTROL "Extra Param:", 6303, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 227, 50, 11 
   CONTROL "", 6304, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 59, 225, 180, 109 
   CONTROL "Move Up", 6305, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 131, 45, 14 
   CONTROL "Move Down", 6306, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 149, 45, 14 
   CONTROL "Search Reference", 1999, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 295, 7, 86, 15 
   CONTROL "", 2001, STATIC, SS_LEFT | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 27, 6, 6 
}
