#include "Windows.h"

340 DIALOG 0, 0, 303, 205
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tags"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Tags make Triggers work. Without a tag, a trigger is usually useless, because it won't be executed (except if another triggers fires it directly).", 1000, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 290, 20 
   CONTROL "Tag:", 1001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 36, 40, 12 
   CONTROL "", 1002, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 61, 37, 236, 196 
   CONTROL "Add", 1003, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 53, 40, 14 
   CONTROL "Clone", 1004, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 207, 53, 40, 14 
   CONTROL "Delete", 1005, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 257, 53, 40, 14 
   CONTROL "Name:", 1006, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 75, 49, 12 
   CONTROL "", 1007, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 61, 74, 236, 13 
   CONTROL "Repeat:", 1008, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 95, 48, 13 
   CONTROL "", 1009, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 61, 95, 236, 59 
   CONTROL "Trigger:", 1010, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 116, 48, 13 
   CONTROL "", 1011, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 61, 116, 212, 135 
   CONTROL "Repeat Cases:\nOne time OR: Fire once when any of the attached map elements to this Tag satisfies the given event.\nOne time AND: Fire once when all of the attached map elements to this Tag satisfies the given event.\nRepeating OR: Fire repeatedly when any of the attached map elements to this Tag satisfies the given event.", 1012, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 136, 290, 63 
   CONTROL "", 2001, STATIC, SS_LEFT | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 39, 6, 6 
   CONTROL "->", 1500, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 276, 116, 21, 12 
   CONTROL "Search Reference", 1999, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 83, 53, 64, 14 
}
