#include "Windows.h"

325 DIALOG 0, 0, 260, 260
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Preferences"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 8, "Tahoma"
{
   CONTROL "", 1000, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_CHILD | WS_BORDER | WS_TABSTOP, 5, 25, 250, 230 
   CONTROL "Search:", 1003, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 36, 12 
   CONTROL "", 1004, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 47, 7, 80, 13 
}

