#include "Windows.h"

305 DIALOG 0, 0, 303, 205
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Taskforces"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Selected task force", -14731, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 45, 290, 153 
   CONTROL "Task forces:", -14736, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 7, 52, 10 
   CONTROL "", 1144, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 87, 7, 199, 130 
   CONTROL "Units in task force:", -14735, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 88, 61, 13 
   CONTROL "", 1145, LISTBOX, LBS_NOTIFY | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 87, 88, 199, 68 
   CONTROL "Add", 1146, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 102, 61, 15 
   CONTROL "Delete", 1147, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 121, 61, 15 
   CONTROL "Clone", -14728, BUTTON, BS_PUSHBUTTON | BS_LEFTTEXT | BS_ICON | BS_BITMAP | BS_CENTER | BS_VCENTER | BS_PUSHLIKE | BS_MULTILINE | BS_NOTIFY | BS_FLAT | WS_POPUP | WS_MINIMIZE | WS_VISIBLE | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_MAXIMIZE | WS_CAPTION | WS_VSCROLL | WS_HSCROLL | WS_SYSMENU | WS_THICKFRAME | WS_GROUP | WS_TABSTOP, 17, 121, 61, 15 
   CONTROL "Group:", -14734, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 71, 61, 13 
   CONTROL "", 1122, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 69, 199, 13 
   CONTROL "Number of units:", -14733, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 162, 62, 12 
   CONTROL "", 1148, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 160, 199, 14 
   CONTROL "Unit type:", -14732, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 181, 62, 12 
   CONTROL "", 1149, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 87, 179, 199, 183 
   CONTROL "Delete", 1150, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 223, 23, 64, 15 
   CONTROL "New", 1151, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 87, 23, 64, 15 
   CONTROL "Clone", -14729, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 23, 64, 15 
   CONTROL "Name:", -14730, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 58, 61, 12 
   CONTROL "", 1010, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 54, 199, 13 
   CONTROL "Search Reference", 1999, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 23, 64, 15 
   CONTROL "", 2001, STATIC, SS_LEFT | SS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 8, 6, 6 
}

